* {
  box-sizing: border-box;
 
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  color:  rgba(41, 138, 230, 0.48);
  font-family: 'Share Tech Mono', monospace;
}
